<% content_for :back do %>
  <%= link_to game_path(@team.game), class: 'text-sky-500' do %>
    &lt; Tvorba tímov
  <% end %>
<% end %>
<%= content_for :header, 'Nový tím' %>
<div data-controller='players'>
  <%= render 'form' %>
</div>
