<header class='z-50 fixed top-0 left-0 right-0 bg-gradient-to-b from-zinc-900 to-zinc-800/70 h-16 px-5 border-b border-zinc-700 backdrop-blur'>
  <div class='flex justify-between items-center h-16'>
    <div>
      <%= yield :back %>
    </div>
    <div class='absolute left-1/2 -translate-x-1/2 font-semibold text-xl'>
      <%= yield :header %>
    </div>
    <div>
      <%= yield :action %>
    </div>
  </div>
</header>