<%= content_for(:header, 'Futsal Prešov')%>

<div class='mt-4 space-y-4'>
  <%= render partial: 'games/game', collection: @games %>
</div>

<div class='mt-6 flex justify-center items-center'>
  <%= button_to games_path do %>
    <div class='bg-indigo-500 w-10 h-10 flex justify-center items-center text-2xl rounded-full'>+</div>
  <% end %>
</div>